python -m venv venv
source venv/bin/activate

# define ENV_VAR
# export API_URL=http://localhost:3000/server/v1/adm_versions
# export ACCESSS_TOKEN=xxxxxxx
[ -s ".envrc.local" ] && source_env ".envrc.local"
